.select-kit.combo-box .select-kit-header,
.select-kit.multi-select .multi-select-header {
  box-shadow: 0 1px 3px oklch(from var(--primary) l c h / 0.06);
  border-color: var(--primary-400) !important;

  &:active {
    border-color: var(--primary-400) !important;
  }

  &:focus {
    border-color: var(--primary-400) !important;
  }
}
